<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainspotting.hait.application.ApplicationMapper">
	<select id="findOwnerEmail" resultType="ApplicationEntity">
		select * from t_application 
		where owner_email = #{owner_email}
		and process_status > -1
	</select>
	
	<select id="findOwnerContact" resultType="ApplicationEntity">
		select * from t_application 
		where owner_contact = #{owner_contact}
		and process_status > -1
	</select>
	
	<select id="findRstrntName" resultType="ApplicationEntity">
		select * from t_application 
		where rstrnt_nm = #{rstrnt_nm}
		and process_status > -1
	</select>
	
	<insert id="insert">
		insert into t_application
		(owner_nm, owner_email, owner_contact
		, rstrnt_nm, city_pk, more_info)
		values
		(#{owner_nm}, #{owner_email}, #{owner_contact}
		, #{rstrnt_nm}, #{city_pk}, #{more_info})
	</insert>

	<select id="listAll" resultType="ApplicationDTO">
		select A.*, B.nm as city_nm from t_application A
		inner join t_city B
		on A.city_pk = B.pk
		order by pk desc
	</select>
	
	<select id="listStatus" resultType="ApplicationDTO">
		select A.*, B.nm as city_nm from t_application A
		inner join t_city B
		on A.city_pk = B.pk
		where process_status = #{process_status}
		order by pk desc
	</select>
	
	<select id="detail" resultType="ApplicationDTO">
		select A.*, B.nm as city_nm from t_application A
		inner join t_city B
		on A.city_pk = B.pk
		where A.pk = #{pk}
	</select>
	
	<update id="update">
		update t_application
		set process_status = #{process_status}
		where owner_email = #{owner_email}
	</update>
	
	<insert id="insOwner">
		insert into t_owner
		(nm, email, contact, pw)
		select owner_nm as nm, owner_email as email, owner_contact as contact, #{pw}
		from t_application A
		where A.owner_email = #{email}
	</insert>
	
	<insert id="insRstrnt">
		insert into t_rstrnt
		(owner_pk, nm, city_pk)
		select B.pk as owner_pk, A.rstrnt_nm as nm, A.city_pk
		from t_application A
		inner join t_owner B
		on A.owner_email = B.email
		where A.owner_email = #{owner_email}
	</insert>
</mapper>