<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainspotting.hait.owner.OwnerMapper">

	<select id="selOwnerByRstrntPk" resultType="OwnerEntity">
		SELECT * 
		FROM t_owner
		WHERE pk = (
			SELECT owner_pk 
			FROM t_rstrnt 
			WHERE pk = #{r_pk}
		)
	</select>

	<select id="findUserByEmail" resultType="OwnerDTO">
		SELECT pw, enabled AS rstrnt_enabled, r.pk as rstrnt_pk
		FROM t_owner AS o
		JOIN t_rstrnt AS r
		ON o.pk = owner_pk
		WHERE email = #{email}
	</select>

	<update id="resetPw">
		UPDATE t_owner
		SET pw = #{reset_pw}
		WHERE pk = #{owner_pk}
	</update>

	<select id="selRstrnt" resultType="RstrntEntity">
		SELECT *
		FROM t_rstrnt
		WHERE pk = #{pk}
	</select>

	<update id="updRstrnt" parameterType="RstrntDTO">
		UPDATE t_rstrnt
		<trim prefix="SET" suffixOverrides=",">
			enabled = true,
			<if test="contact != null">contact = #{contact},</if>
			<if test="location != null">location = #{location},</if>
			<if test="more_info != null">more_info = #{more_info},</if>
			<if test="profile_img != null">profile_img = #{profile_img},</if>
		</trim>
		WHERE pk = #{pk}
	</update>
	
	<select id="selReservAll" resultType="ReservEntity">
		SELECT pk, seq, headcount, contact, regdate, process_status
		FROM t_reserv
		WHERE rstrnt_pk = #{pk} AND (process_status = 0 OR process_status = 1)
		ORDER BY process_status DESC, last_update DESC
	</select>
	
	<update id="updRstrntState">
		UPDATE t_rstrnt
		SET state = #{state}
		WHERE pk = #{pk}
	</update>

	<update id="updReservStatus">
		UPDATE t_reserv
		SET process_status = #{process_status}, last_update = now()
		WHERE pk = #{pk}
	</update>
</mapper>