<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trainspotting.hait.owner.OwnerMapper">
	<select id="selOwnerByRstrntPk" resultType="OwnerEntity">
		SELECT * 
		FROM t_owner
		WHERE pk = (
			SELECT owner_pk 
			FROM t_rstrnt 
			WHERE pk = #{r_pk}
		)
	</select>

	<select id="findUserByEmail" resultType="OwnerDTO">
		SELECT pw, enabled AS rstrnt_enabled, r.pk as rstrnt_pk
		FROM t_owner AS o
		JOIN t_rstrnt AS r
		ON o.pk = owner_pk
		WHERE email = #{email}
	</select>
</mapper>